doctype 5
html(lang="en")
    head
        title= pageTitle
        include includes/resources.jade
    body(style="padding: 70px 0;")
        nav(role='navigation').navbar.navbar-inverse.navbar-fixed-top.text-center
            div.btn-group
                if locals.showprevious
                    a(onclick='window.history.back()').btn.btn-lg.btn-primary
                        span.glyphicon.glyphicon-chevron-left
                else
                    a(onclick='window.history.back()').btn.btn-lg.btn-primary.disabled
                        span.glyphicon.glyphicon-chevron-left
                a(href='/').btn.btn-lg.btn-primary
                    span.glyphicon.glyphicon-home
                if locals.shownext
                    a(href=lastitem).btn.btn-lg.btn-primary
                        span.glyphicon.glyphicon-chevron-right
                else
                    a(href=lastitem).btn.btn-lg.btn-primary.disabled
                        span.glyphicon.glyphicon-chevron-right
        div.container
            div.row.text-center
                if locals.items
                    each item in items
                        div.image
                            a(href=item.full.S)
                                img(src=item.thumb.S).img-thumbnail
        div.carousel.clearfix.hidden
            div.container
                div.carouselbutton
                    button.btn.btn-default.btn-xs
                        span.glyphicon.glyphicon-chevron-left
                div.showprogress.clearfix.hidden loading...
                div.col-xs-10.col-xs-offset-1.imgcontainer
                    div
                        a.text-center
                            img
                div.carouselbutton
                    button.btn.btn-default.btn-xs
                        span.glyphicon.glyphicon-chevron-right

        if locals.msg
            p= msg