doctype 5
html(lang="en")
    head
        title= pageTitle
        include includes/resources.jade
    body
        div.images
            if locals.items
                if locals.lastitem
                    div.navigation.fadebg
                        if locals.showprevious
                            a(onclick='window.history.back()') << previous
                        a(href='/') home
                        if locals.shownext
                            a(href=lastitem) next >>
                each item in items
                    div.image
                        a(href=item.full.S)
                            img(src=item.thumb.S)
            if locals.msg
                p= msg
        include includes/footer.jade